.App {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background: #805b60;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

    width: 248px;
    height: 150px;
    margin-right: 40px;
    margin-left: 40px;

    border: solid 2px #a79d2f;
    border-radius: 12px;
}

.counter {
    font-size: x-large;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 226px;
    height: 75px;
    margin-bottom: -9px;

    color: #a79d2f;
    border: solid 2px #a79d2f;
    border-radius: 12px;
}

.counterSettings {
    font-size: medium;

    flex-direction: column;

    composes: counter;
}

.countString {
    font-size: medium;
}

.errorCount {
    font-size: xx-large;

    color: #9ef9e8;
}

.errorMaxStart {
    font-size: medium;

    color: #9ef9e8;
}


.buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;

    width: 226px;
    height: 40px;

    border: solid 2px #a79d2f;
    border-radius: 12px;
}

.button {
    font-size: medium;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30%;
    height: 79%;

    color: #805b60;
    border: none;
    border-radius: 12px;
    background: #a79d2f;
}

.button:disabled {
    color: #805b60;
    background-color: #756731;
}

.button:focus {
    outline: none;
}

.button:active {
    color: #a79d2f;
    background: #805b60;
}

.value {
    width: 66px;
    margin-left: 39px;

    text-align: center;

    border-radius: 12px;
}

.value:focus {
    outline: none;
}
.valueError {
    composes: value;
    background-color: #9ef9e8;
}
